{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Профиль {{prof}}
{% endblock %}
{% block content %}
{% include 'records/includes/switcher.html' %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      {% include 'records/includes/admin_switcher.html' %}
      <div class="card-body">
        <h1>Профиль {{prof}}</h1>
        <p>{{prof}}</p>
        <div data-v-cd6a838e="" class="label-row">
          <label data-v-cd6a838e="">
            Адрес электронной почты
          </label>
        </div>
        <p> {{prof.email}} </p>
        <div data-v-cd6a838e="" class="label-row">
          <label data-v-cd6a838e="">
            Ваше имя
          </label>
        </div>
        <p> {{prof.first_name}} </p>
        <div data-v-cd6a838e="" class="label-row">
          <label data-v-cd6a838e="">
            Ваша фамилия
          </label>
        </div>
        <p> {{prof.last_name}} </p>
        <a href="{% url 'records:user_delete' prof %}" onclick="return confirm('Вы уыерены что хотите удалить пользователя?')">
         <p> Хотите удалить пользователя ? </p>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-8 p-5"> 
    <div class="card">
      <div class="card-body">
        <div>
          <h3>Будующие записи</h3>
          {{html_rec_new|safe}}
          <h3>Прошлые записи</h3>
          {{html_rec_old|safe}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}