{% extends 'base.html' %}
{% block tittle %}
{% if services %}
Редактировать транспортое средство
{% else %}
Создать новое транспортое средство
{% endif %}
{% endblock %}
{% load static %}
{% block content %}
{% include 'records/includes/switcher.html' %}
<div class="row justify-content-center lol_width">
  <div class="col-md-8 p-5">
    <div class="card">
      {% include 'records/includes/admin_switcher.html' %}
      <div class="card-header">
        {% if services %}
          Редактировать транспортое средство
        {% else %}
          Создать новое транспортое средство
        {% endif %}
      </div>
      <div class="card-body">
        {% if error %}
          {{ error }}
        {% endif %}
        {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
            {% endif %}
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
          <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">
              {{ field.label }}
              {% if field.field.required %}
              <span class="required">
                *
              </span>
              {% endif %}
            </label>
            <div class="col-md-6">
              {{ field }}
              {{ field.errors }}
              {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">
                {{ field.help_text|safe }}
              </small>
              {% endif %}
            </div>
          </div>
            {% endfor %}
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              {% if services %}
                Сохранить изменения
              {% else %}
                Создать Т.С.
              {% endif %}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
<script src="https://snipp.ru/cdn/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://snipp.ru/cdn/jQuery-Timepicker-Addon/dist/jquery-ui-timepicker-addon.min.js"></script>
<script>
  $.timepicker.regional['ru'] = {
    timeOnlyTitle: 'Выберите время',
    timeText: 'Время',
    hourText: 'Часы',
    minuteText: 'Минуты',
    secondText: 'Секунды',
    millisecText: 'Миллисекунды',
    timezoneText: 'Часовой пояс',
    currentText: 'Сейчас',
    closeText: 'Закрыть',
    timeFormat: 'HH:mm',
    amNames: ['AM', 'A'],
    pmNames: ['PM', 'P'],
    isRTL: false
  };
  $.timepicker.setDefaults($.timepicker.regional['ru']);
  
  $(function(){
    $("#id_low_time").timepicker({
      "stepMinute" : 5
    });
    $("#id_high_time").timepicker({
      "stepMinute" : 5
    });
    $("#id_low_duration").timepicker({
      "stepMinute" : 5
    });
    $("#id_high_duration").timepicker({
      "stepMinute" : 5
    });
  });
</script>
{% endblock %}