{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Выбор транспортного средства
{% endblock %}
{% block content %}
{% load thumbnail %}
{% include 'records/includes/switcher.html' %}
  <h1 class="text-center-main">Выбор транспортного средства:</h1>
  <div class="main_content">
  {% for project in all_services %}
    <div class="card_for_car">
      <span class="main_text_for_card">{{ project.name_project }}</span>
      <div class="center">
        {% thumbnail project.image "500x300" upscale=True as im %}
        <img class="card-img my-2 img_border_for_card" src="{{ im.url }}" alt="Изображения нету">
        {% endthumbnail %}
      </div>
      {% if project.description %}
      <span class="description_and_contact_main">Описание: {{ project.description }}</span>
      {% endif %}
      {% if project.contact %}
      <span class="description_and_contact_main">Помощь в дороге: {{ project.contact }}</span>
      {% endif %}
      <a href="{% url 'records:index_records' project.pk %}">
        <div class="button_for_main_card">
          <span class="text_button">Расписание</span>
        </div>
      </a>
    </div>
  {% endfor %}
  </div>
{% endblock %} 