{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Профиль
{% endblock %}
{% block content %}
{% include 'records/includes/switcher.html' %}
<div class="row justify-content-center lol_width">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Профиль</h1>
        <div class="label-row">
          <label>
            Имя пользователя
          </label>
        </div>
        <p>{{prof}}</p>
        <div class="label-row">
          <label>
            Адрес электронной почты
          </label>
        </div>
        <p> {{prof.email}} </p>
        <div class="label-row">
          <label>
            Ваше имя
          </label>
        </div>
        <p> {{prof.first_name}} </p>
        <div class="label-row">
          <label>
            Ваша фамилия
          </label>
        </div>
        <p> {{prof.last_name}} </p>
      </div>
    </div>
  </div>
</div>
<div style="padding-left: 150px; padding-bottom: 50px">
  <a class="btn btn-info right" href="{% url 'records:profiles' %}?{{ next_month }}"> Следующий месяц </a>
  <a class="btn btn-info left" href="{% url 'records:profiles' %}?{{prev_month}}"> Предыдущий месяц </a>
  <table border="0" cellpadding="0" cellspacing="0" class="calendar_profile">
    {{ calendar }}
  </table>
</div>
{% endblock %} 