{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Запись
{% endblock %}
{% block content %}
<h1>Запись</h1>
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Запаситься
        </div>
        <div class="card-body">
          {# Этот блок будет показан, если в форме есть ошибки #}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

            <form method="post" action="{% url 'records:records' %}">
              {% csrf_token %}
              <div class="form-group row my-3 p-3">
                    <span class="required text-danger">*</span>
                    Дата:
                    <input type="date" name="start_date" placeholder="Дата поездочки">
                    Время:
                    <input type="integer" name="start_time" placeholder="Время начала поездочки" max="24" min="0" maxlength="2">
                    Продолжительность:
                    <input type="integer" name="end_time" list="time">
                    <datalist id="time">
                      <option value="1" label="1">
                      <option value="2" label="2">
                      <option value="3" label="3">
                      <option value="4" label="4">
                      <option value="5" label="5">
                    </datalist>
                    Транспортное средство:
                    <input type="text" name="car_or_ship" list="car_or_ship">
                    <datalist id="car_or_ship">
                      <option value="квадроцикл" label="квадроцикл">
                      <option value="лодка" label="лодка">
              </div>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Записаться
                </button>
              </div>
            </form>
          </div> <!-- card body -->
        </div> <!-- card -->
      </div> <!-- col -->
  </div>
{% endblock %} 