{% extends 'base.html' %}
{% block tittle %}
Запись
{% endblock %}
{% load static %}
{% block content %}
<h1>Запись</h1>
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-body">
          {% if error %}
            {{error}}
          {% endif %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
            {% endif %}
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <div class="col-md-6 offset-md-4">
                {% if error%}
                  <a href="{% url 'records:index_ship' %}">
                    На главную
                  </a>
                {% endif %}
                {% if not error %}
                <button type="submit" class="btn btn-primary">
                  Записаться
                </button>
                {% endif %}
              </div>
            </form>
          </div>
        <div class="card-header">
          Записи
        </div>
        <div class="card-body">
          {{ record_st }}-{{ record_en }}
        </div> <!-- card -->
      </div> <!-- col -->
  </div>
{% endblock %} 