{% extends 'base.html' %}
{% block tittle %}
Запись
{% endblock %}
{% load static %}
{% block content %}
{% include 'records/includes/switcher.html' %}
<h1 style="margin-left: 42%">Запись</h1>
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-body" style="margin-left: 25%">
          <h3 style="margin-left: 17%">
            {{date_str}}
          </h3>
          {% if not error and not old_date and not many_rec %}
          <h6 style="margin-left: 6%">
          Запись доступна с {{services.low_time}} до {{services.high_time}}
          </h6>
          {% endif %}
          {% if old_date or many_rec%}
          <h3>
            {{old_date}}
            {{many_rec}}
          </h3>
          {% endif %}
          {% if error %}
          <h2>
            {{error}}
          </h2>
          <a href="{% url 'records:records_start' project date %}" class="btn btn-primary" style="margin-left: 14%">
            Начать заново
          </a>
          {% endif %}
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}            
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
            {% endif %}
            <form method="post" style="margin: 20px 0 0 0 !important;">
              {% csrf_token %}
              {{ form.as_p }}
              <div style="margin-left: 15%">
                {% if error or old_date or many_rec %}
                <a href="{% url 'records:index_records' project %}" class="btn btn-primary">
                  На главную
                </a>
                {% endif %}
                {% if not error and not old_date and not many_rec %}
                <button type="submit" class="btn btn-primary">
                  Записаться
                </button>
                {% endif %}
              </div>
            </form>
          </div>
          {% if not error and not old_date and not many_rec %}
          <div id="slider-range"></div>
          {{color_table|safe}}
          {% endif %}
        <div class="card-header">
          Записи
        </div>
        <div style='height: 230px'>
          {{ride_rec|safe}}
          {% if ride_rec_empty %}
          <div style='text-align: center; position: relative; top: 40%;'>
            <h1>{{ride_rec_empty}}</h1>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{{calendar}}
<script>
  $(document).ready(function(){
    $( "#slider-range" ).slider({
        range: true,
        min: {{services.low_time}},
        max: {{services.high_time}},
        values: [ 6, 10 ],
        slide: function( event, ui ) {
          $( "#id_start_time" ).val(  ui.values[ 0 ] );
          $( "#id_end_time" ).val(  ui.values[ 1 ] );
        }
      });
});
</script>
{% endblock %} 