{% extends 'base.html' %}
{% load static %}
{% block tittle %}
Добавление нового пользователя
{% endblock %}
{% block content %}
<style type="text/css">
  #id_to_email {
    width: 500px
  }
</style>
{% include 'records/includes/switcher.html' %}
<h1 class="text-center">Отправте приглашение на регистрацию</h1>
  <div class="container text-center">
    <div id="form_container">
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions form-group ">
          <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}