<!DOCTYPE html>
<html lang="ru">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/fav/01.png" type="image' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/fav/180x180.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/fav/32x32.png '%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/fav/16x16.gif' %}">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link  rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <title>
    {% block tittle %}
    Здесь должен быть title
    {% endblock %}
    </title>
  </head>
  <body>
    <header>
      {% include 'includes/header.html' %}     
    </header>
    <main>
          <div class="bg-ex-gradient-animation">
            {% block content %}
            Контент не подвезли :(
            {% endblock %}
          </div>
    </main>
      {% include 'includes/footer.html' %}
  </body>
</html>