{% extends "base.html" %}
{% block tittle %}проверка телефона{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-header">
          Проверка телефона
        </div>
        <div class="card-body">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger">
                  {{ error|escape }}
                </div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
                {{ error|escape }}
              </div>
            {% endfor %}
          {% endif %}

            <form method="post" action="{% url 'users:phone' %}">
              {% csrf_token %}
              <label for="phone">Ваш телефон: </label>
              <input id="phone" type="text" name="phone" maxlength="11" placeholder="89112223344" required>
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  Проверить телефон
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
{% endblock %} 